@page
@model FinanceSolution.Inteface.Pages.Authorization.RegisterModel
@{
    Layout = null;
}

<style> </style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Solution</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
    <!--- Quixlab Styles  -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style.css.map" rel="stylesheet">
    <link href="~/plugins/toastr/css/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/plugins/sweetalert2/dist/sweetalert2.min.css">

</head>
<body>
    
    <!-- Place Holder Starter -->
    <div id="preloader" style="display: none;">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>

     <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                    <h2>Finance Solution</h2>
        
                                    <form class="mt-5 mb-3 login-input" method="post">

                                        <div class="form-group">
                                            <input asp-for="User.Name" type="text" class="form-control" placeholder="Nome" required="">
                                        </div>

                                        <div class="form-group">
                                            <input asp-for="User.Lastname" type="text" class="form-control" placeholder="Sobrenome" required="">
                                        </div>

                                        <div class="form-group">
                                            <input asp-for="User.Username" type="text" class="form-control" placeholder="Nome de Usuário" required="">
                                        </div>

                                        <div class="form-group">
                                            <input asp-for="User.Password" type="password" class="form-control" placeholder="Senha" required="">
                                        </div>

                                        <button class="btn login-form__btn submit w-100" type="submit">Registrar</button>
                                    </form>
                                    <p class="mt-1 login-form__footer">Já possui conta? <a href="/Authorization/Login" class="text-primary">Faça login!</a></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Scripts -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <!--- Quixlab Scripts  -->
    <script src="~/js/settings.js"></script>
    <script src="~/js/gleek.js"></script>
    <script src="~/js/styleSwitcher.js"></script>

    <!-- Toastr Plugins -->
    <script src="~/plugins/toastr/js/toastr.min.js"></script>
    <script src="~/plugins/sweetalert2/dist/sweetalert2.min.js"></script>
    
    <script>
        

        if ('@ViewData["success"]' == 'True') {
            Swal.fire({
                title: 'Sucesso!',
                text: 'Registro realizado com sucesso!',
                type: 'success',
            }).then(function() {
                window.location.href = "/Authorization/Login";
            });
        }

        if ('@ViewData["userExists"]' == 'True') {
            Swal.fire({
                title: 'Erro!',
                text: 'Usuario já cadastrado!',
                type: 'error',
            });
        }
        
        if ('@ViewData["error"]' == 'True') {
            Swal.fire({
                title: 'Erro!',
                text: 'Ocorreu um erro ao realizar o registro!',
                type: 'error',
            });
        }

        if ('@ViewData["internal"]' == 'True') {
            Swal.fire({
                title: 'Erro!',
                text: 'Ocorreu um erro interno!',
                type: 'error',
            });
        }

    </script>
</body>
</html>