@page
@model FinanceSolution.Inteface.Pages.MetodoPagamento.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<div class="row">
    <div class="col-lg-12">
        <p>
            <a asp-page="Create" class="btn btn-primary">Novo</a>
        </p>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Metodos de Pagamento</h4>
                    <div class="table-responsive">
                        <div class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-md-12">
                                    <table id="table-pagto" class="table table-striped table-bordered table-hover table-responsive-sm dataTable">
                                        <thead>
                                            <tr>
                                                <th>Codigo</th>
                                                <th>Descricao</th>
                                                <th>Tipo</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            @* <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info" id="DataTables_Table_0_info"></div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"></div>
                                </div>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

    $(document).ready(function () {

        console.log('iniciou documento');

        var table = $("table-pagto").DataTable({
            serverSide: true,
            lengthChange: false,
            processing: true,
            language: {
                url: "/language/ptbr.json",
            },
            pageLength: 15,
            order: [],
            rowId: "Codigo",
            ajax: {
                url: "/MetodoPagamento/Index?handler=Pagtos",
                type: "POST",
                headers: {
                    RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                },
                async: true,
            },
            columnDefs: [
                {
                    className: "dt-center", 
                    targets: "_all"
                }
            ],
            columns: [
                {
                    data: "Codigo",
                    bSortable: false,
                    autoWidth: true,
                },
                {
                    data: "Descricao",
                    bSortable: false,
                    autoWidth: true,
                },
                {
                    data: "Tipo",
                    bSortable: false,
                    autoWidth: true,
                }
            ]
        });

        console.log(table);
    });
</script>
}