@page
@model FinanceSolution.Inteface.Pages.IndexModel
@{
    ViewData["Title"] = "";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<div class="row">

    @* Total *@
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-black">Saldo Total</h3>
                <div class="d-inline-block">
                    <h2 class="text-black">0</h2>
                    <p class="text-black mb-0">month</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-balance-scale"></i></i></span>
            </div>
        </div>
    </div>

    @*  *@
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-black">Entrada</h3>
                <div class="d-inline-block">
                    <h2 class="text-black">0</h2>
                    <p class="text-black mb-0">month</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-chevron-up"></i></span>
            </div>
        </div>
    </div>

    @*  *@
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-black">Saida</h3>
                <div class="d-inline-block">
                    <h2 class="text-black">0</h2>
                    <p class="text-black mb-0">month</p>
                </div>
                <span class="float-right display-5 opacity-5"><i class="fa fa-chevron-down"></i></i></span>
            </div>
        </div>
    </div>

</div>

<div class="row">

    @* Total *@
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                
            </div>
        </div>
    </div>

</div>