<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FinanceSolution</title>

   <!-- Styles -->
    <link rel="stylesheet" href="~/plugins/toastr/css/toastr.min.css" />
    <link rel="stylesheet" href="~/plugins/highlightjs/styles/darkula.css" />
    <link rel="stylesheet" href="~/plugins/highlightjs/styles/darcula.css" />
    <link rel="stylesheet" href="~/plugins/datatables/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/plugins/sweetalert2/dist/sweetalert2.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/style.css.map" />

</head>
<body>
    
    <!-- Place Holder Starter -->
    <div id="preloader" style="display: none;">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"></circle>
            </svg>
        </div>
    </div>

    <div class="wrapper">

        <!-- Header -->
        <nav>
            <partial name="_TopNavigation"/>
        </nav>

        <!-- Navigation -->
        <aside>
            <partial name="_MainNavigationMenu"/>
        </aside>

        <!-- Main content-->
        <div class="content-body" style="color: #76838f;">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Quixlab Jquery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    
    <!--- Quixlab Scripts  -->
    <script src="~/plugins/common/common.min.js"></script>
    <script src="~/js/custom.min.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/styleSwitcher.js"></script>

    <script src="~/js/site.js"></script>
    <script src="~/js/gleek.js"></script>
    <script src="~/js/plugins-init/toastr.init.js"></script>
    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/toastr/js/toastr.min.js"></script>
    <script src="~/plugins/toastr/js/toastr.init.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    
    <script src="~/plugins/highlightjs/highlight.pack.min.js"></script>
    
    <script src="~/plugins/sweetalert2/dist/sweetalert2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script> hljs.initHighlightingOnLoad(); </script>
    
</body>
</html>
