<div class="nk-sidebar">  
    <div class="nk-nav-scroll">
        <ul class="metismenu in" id="menu">
            <li>
                <a class="has-arrow" aria-expanded="false"><i class="icon-grid menu-icon"></i><span class="nav-text">Dashbord</span></a>
                <ul>
                    <li class="nav-item"><a asp-page="/Index">Home</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" aria-expanded="false"><i class="icon-plus menu-icon"></i><span class="nav-text">Cadastros</span></a>
                <ul>
                    <li class="nav-item"><a asp-page="/MetodoPagamento/Index">Método Pagamento</a></li>
                    <li class="nav-item"><a asp-page="/TipoLancamento/Index">Tipo Lançamento</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" aria-expanded="false"><i class="icon-basket menu-icon"></i><span class="nav-text">Lançamentos</span></a>
                <ul>
                    <li class="nav-item"><a asp-page="/Lancamento/Index">Lançamento</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" aria-expanded="false"><i class="icon-user menu-icon"></i><span class="nav-text">Usuario</span></a>
                <ul>
                    <li class="nav-item"><a asp-page="/Usuario/Index">Profile</a></li>
                    <li class="nav-item"><a asp-page="/Authorization/Logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
