<div class="nk-sidebar">  
    <div class="nk-nav-scroll">
        <ul class="metismenu in" id="menu">
            <li>
                <a href="#dashboard" class="has-arrow" aria-expanded="false"><i class="icon-grid menu-icon"></i><span class="nav-text">Dashbord</span></a>
                <ul id="dashboard">
                    <li class="nav-item"><a asp-page="/Index">Home</a></li>
                </ul>
            </li>
            <li>
                <a href="registers" class="has-arrow" aria-expanded="false"><i class="icon-plus menu-icon"></i><span class="nav-text">Cadastros</span></a>
                <ul id="registers">
                    <li class="nav-item"><a asp-page="/PaymentMethod/Index">Método Pagamento</a></li>
                    <li class="nav-item"><a asp-page="/AccountAccruals/Index">Tipo Lançamento</a></li>
                    <li class="nav-item"><a asp-page="/AccountEntry/Index">Lançamento</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<script>
    /** add active class and stay opened when selected */

    /** Enums type for links **/
    const normal = "normal";
    const submenu = "submenu";

    /** Menu Settigns **/
    const mainMenu = [
        {
            menu: "Dashboard",
            link: "/Index",
            links: [
                { link: "/Index" },
            ],
            type: submenu,
            submenuId: "dashboard",
        },
        {
            menu: "Metodo Pagamento",
            link: "/PaymentMethod/Index",
            links: [
                { link: "/PaymentMethod" },
                { link: "/PaymentMethod/Index" },
                { link: "/PaymentMethod/Create" },
                { link: "/PaymentMethod/Edit" }
            ],
            type: submenu,
            submenuId: "registers",
        },
        {
            menu: "Tipo Lançamento",
            link: "/AccountAccruals/Index",
            links: [
                { link: "/AccountAccruals" },
                { link: "/AccountAccruals/Index" },
                { link: "/AccountAccruals/Create" },
                { link: "/AccountAccruals/Edit" }
            ],
            type: submenu,
            submenuId: "registers",
        },
        {
            menu: "Lançamento",
            link: "/AccountEntry/Index",
            links: [
                { link: "/AccountEntry" },
                { link: "/AccountEntry/Index" },
                { link: "/AccountEntry/Create" },
                { link: "/AccountEntry/Edit" }
            ],
            type: submenu,
            submenuId: "registers",
        },
    ];

    /** function to find current menu **/
    var url = window.location;
    const menu = mainMenu.find((e) => {
        if (e.links.find((s) => s.link === url.pathname)) {
            return e;
        }
    });

    if (menu.type == normal) {

        /** function to set the current menu **/
        const link = url.origin + menu.link;
        const allLinks = document.querySelectorAll('.nav-item a');
        const currentLink = [...allLinks].filter(e => e.href == link);

        /** final to set li active **/
        var a = currentLink[0];
        var li = a.closest('li');
        li.classList.add("active");

    } else if (menu.type == submenu) {
            
        var ul = $(`#${ menu.submenuId }`);
        var li = ul.parent();

        li.addClass("active");
        ul.addClass("show");
            
        /** function to set the current menu **/
        const link = url.origin + menu.link;
        const allLinks = document.querySelectorAll('.nav-item a');
        const currentLink = [...allLinks].filter(e => e.href == link );

        /** final to set li active **/
        var a = currentLink[0];
        var li = a.closest('li');
        li.classList.add("active");  
        
    }

</script>